@model UniversityCourseAndResultManagementSystem.Models.EnrollStudentInCourse
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnrollStudentInCourse</title>
    <style>
        .test {
            color: blue;
        }
        ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
    </style>
    <link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
    @*<link rel="stylesheet" href="/resources/demos/style.css">*@
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        } );
    </script>*@
</head>
<body>
<ul>
    <li>
        <a href="@Url.Action("Home", "Department")">Home</a>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Department</a>
        <div class="dropdown-content">
            <a href="@Url.Action("CreateDepartment", "Department")">Save Department</a>
            <a href="@Url.Action("ViewDepartments", "Department")">View All Department</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Course</a>
        <div class="dropdown-content">
            <a href="@Url.Action("CreateCourse", "Course")">Save Course</a>
            <a href="@Url.Action("ViewCourseStatics", "Course")">View Course Statics</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Teacher</a>
        <div class="dropdown-content">
            <a href="@Url.Action("CreateTeacher", "Teacher")">Save Teacher</a>
            <a href="@Url.Action("CourseAssignToTeacher", "Teacher")">Course Assign to Teacher</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Student</a>
        <div class="dropdown-content">
            <a href="@Url.Action("RegisterStudent", "Student")">Register Student</a>
            <a href="@Url.Action("EnrollStudentInCourse", "Student")">Enroll Student In a Course</a>

        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Room</a>
        <div class="dropdown-content">
            <a href="@Url.Action("AllocateClassrooms", "Room")">Allocate Classrooms</a>
            <a href="@Url.Action("ViewClassSchedule", "Room")">View Class Schedule and Room Allocation Information</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Result</a>
        <div class="dropdown-content">
            <a href="@Url.Action("SaveStudentResult", "Student")">Save Result</a>
            <a href="@Url.Action("ViewResult", "Result")">View Result</a>
        </div>
    </li>
</ul>
<div>
    @using (Html.BeginForm(null, null, FormMethod.Post, new {id = "EnrollStudentInCourseForm"}))
    {
        <fieldset style="width: 650px">
            <legend>
                <h2>Enroll Student In a Course</h2></legend>
            <table>
                <tr>
                    <td>@Html.LabelFor(c => c.StudentId)</td>
                    <td>@Html.DropDownListFor(c => c.StudentId, new SelectList(ViewBag.students, "Id", "RegistrationNumber"), "--Select--")</td>
                    <td>@Html.ValidationMessageFor(m => m.StudentId)</td>
                </tr>
                <tr>
                    <td><label for="StudentName"></label>Name</td>
                    <td><input type="text" id="StudentName" name="StudentName" readonly="readonly"/></td>
                </tr>
                <tr>
                    <td><label for="StudentEmail"></label>Email</td>
                    <td><input type="text" id="StudentEmail" name="StudentEmail" readonly/></td>
                </tr>
                <tr>
                    <td><label for="StudentDepartment"></label>Department</td>
                    <td><input type="text" id="StudentDepartment" name="StudentDepartment"/></td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.CourseId)</td>
                    <td>@Html.DropDownListFor(c => c.CourseId, new SelectList("Id", "Name"), "Select")</td>
                    <td>@Html.ValidationMessageFor(m => m.CourseId)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(c => c.Date)</td>
                    <td>@Html.TextBoxFor(c => c.Date, new {id = "datepicker"})</td>
                    <td>@Html.ValidationMessageFor(m => m.Date)</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Enroll"/></td>
                </tr>
            </table>
            <h3>@ViewBag.message</h3>
        </fieldset>
    }
</div>


@*<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>*@
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
@*<script src="~/Scripts/jquery.validate.min.js"></script>*@
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>

    $(document).ready(function() {
        $("#datepicker").datepicker();
        //$("#StudentDepartment").keyup(function () {
        //    alert(this.value);
        //});
        $("#StudentId").change(function() {
            var studentId = $("#StudentId").val();

            $('#CourseId').html('');
            $('#StudentName').val('');
            $('#StudentEmail').val('');
            $('#StudentDepartment').val('');
            var json = { StudentId: studentId };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetStudentDetails", "Student")',
                //url: '/Department/GetStudentsByDepartmentId',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function(result) {
                    $('#StudentName').val(result.StudentName);
                    $('#StudentEmail').val(result.StudentEmail);
                    $('#StudentDepartment').val(result.StudentDepartment);
                }
            });
        });
        $("#StudentId").change(function() {
            var studentId = $("#StudentId").val();
            $('#CourseId').html('');
            var json = { StudentId: studentId };
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetCoursesOfaStudentByDepartment", "Student")',
                //url: '/Department/GetStudentsByDepartmentId',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(json),
                success: function(result) {
                    if (result.length > 0) {
                        $('#CourseId').html('');
                        var options = '';
                        options += '<option value="">Select</option>';
                        //alert(result);
                        //$('#CourseId').append('<option value="">' +"--select--" + '</option>');
                        $.each(result, function(key, value) {
                            //$('#CourseId').append('<option value="' + value.Id + '">' + value.Code + '</option>');
                            options += '<option value="' + value.Id + '">' + value.Name + '</option>';
                        });
                        $('#CourseId').append(options);
                    }
                }
            });
        });
    });
</script>
</body>
</html>
