
@{
    Layout = null;
    string message = ViewBag.message;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreateDepartment</title>
    <style>
        label.error {
            color: red;
            /*font-weight: bold;*/
        }
        ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
    </style>

</head>
<body>
<ul>
    <li>
        <a href="@Url.Action("Home", "Department")">Home</a>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Department</a>
        <div class="dropdown-content">
            <a href="@Url.Action("CreateDepartment", "Department")">Save Department</a>
            <a href="@Url.Action("ViewDepartments", "Department")">View All Department</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Course</a>
        <div class="dropdown-content">
            <a href="@Url.Action("CreateCourse", "Course")">Save Course</a>
            <a href="@Url.Action("ViewCourseStatics", "Course")">View Course Statics</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Teacher</a>
        <div class="dropdown-content">
            <a href="@Url.Action("CreateTeacher", "Teacher")">Save Teacher</a>
            <a href="@Url.Action("CourseAssignToTeacher", "Teacher")">Course Assign to Teacher</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Student</a>
        <div class="dropdown-content">
            <a href="@Url.Action("RegisterStudent", "Student")">Register Student</a>
            <a href="@Url.Action("EnrollStudentInCourse", "Student")">Enroll Student In a Course</a>

        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Room</a>
        <div class="dropdown-content">
            <a href="@Url.Action("AllocateClassrooms", "Room")">Allocate Classrooms</a>
            <a href="@Url.Action("ViewClassSchedule", "Room")">View Class Schedule and Room Allocation Information</a>
        </div>
    </li>
    <li class="dropdown">
        <a href="javascript:void(0)" class="dropbtn">Result</a>
        <div class="dropdown-content">
            <a href="@Url.Action("SaveStudentResult", "Student")">Save Result</a>
            <a href="@Url.Action("ViewResult", "Result")">View Result</a>
        </div>
    </li>
</ul>
<div>
    <form method="POST" id="DepartmentSaveForm">
        <fieldset style="width: 500px">
            <legend>
                <h2>Save Department</h2></legend>
            <table>
                <tr>
                    <td><label for="Code">Code</label></td>
                    <td><input type="text" id="Code"name="Code"/></td>
                </tr>
                <tr>
                    <td><label for="Name">Name</label></td>
                    <td><input type="text" id="Name" name="Name"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Save"/></td>
                </tr>
            </table>
            <h3>@message</h3>
        </fieldset>
    </form>
</div>
@*<script src="~/Scripts/jquery-1.12.4.min.js"></script>*@
<script src="~/Scripts/jquery-1.12.4.js"></script>
@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script src="~/Scripts/jquery.validate.min.js"></script>
<script>
    $(document).ready(function() {
        $("#DepartmentSaveForm").validate({
            rules: {
                Name: "required",
                Code: {
                    required: true,
                    minlength: 2,
                    maxlength: 7
                }
            },
            messages: {
                Name: "Please enter Department name",
                Code: {
                    required: "Please enter Department Code"
                }
            }
        });
    });
</script>
</body>
</html>
