@using UniversityCourseAndResultManagementSystem.Models

@{
    Layout = null;
    List<Department> departments = ViewBag.departments;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewDepartments</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        ul {
            list-style-type: none !important;
            margin: 0 !important;
            padding: 0 !important;
            overflow: hidden !important;
            background-color: #333 !important;
        }

        li {
            float: left !important;
        }

            li a, .dropbtn {
                display: inline-block !important;
                color: white !important;
                text-align: center !important;
                padding: 14px 16px !important;
                text-decoration: none !important;
            }

                li a:hover, .dropdowns:hover .dropbtn {
                    background-color: red !important;
                }

            li.dropdowns {
                display: inline-block !important;
            }

        .dropdowns-content {
            display: none !important;
            position: absolute !important;
            background-color: #f9f9f9 !important;
            min-width: 160px !important;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2) !important;
            z-index: 1 !important;
        }

            .dropdowns-content a {
                color: black !important;
                padding: 12px 16px !important;
                text-decoration: none !important;
                display: block !important;
                text-align: left !important;
            }

                .dropdowns-content a:hover {
                    background-color: #f1f1f1 !important;
                }

        .dropdowns:hover .dropdowns-content {
            display: block !important;
        }

        
    </style>

</head>
<body>

<ul>
    <li>
        <a href="@Url.Action("Home", "Department")">Home</a>
    </li>
    <li class="dropdowns">
        <a href="javascript:void(0)" class="dropbtn">Department</a>
        <div class="dropdowns-content">
            <a href="@Url.Action("CreateDepartment", "Department")">Save Department</a>
            <a href="@Url.Action("ViewDepartments", "Department")">View All Department</a>
        </div>
    </li>
    <li class="dropdowns">
        <a href="javascript:void(0)" class="dropbtn">Course</a>
        <div class="dropdowns-content">
            <a href="@Url.Action("CreateCourse", "Course")">Save Course</a>
            <a href="@Url.Action("ViewCourseStatics", "Course")">View Course Statics</a>
        </div>
    </li>
    <li class="dropdowns">
        <a href="javascript:void(0)" class="dropbtn">Teacher</a>
        <div class="dropdowns-content">
            <a href="@Url.Action("CreateTeacher", "Teacher")">Save Teacher</a>
            <a href="@Url.Action("CourseAssignToTeacher", "Teacher")">Course Assign to Teacher</a>
        </div>
    </li>
    <li class="dropdowns">
        <a href="javascript:void(0)" class="dropbtn">Student</a>
        <div class="dropdowns-content">
            <a href="@Url.Action("RegisterStudent", "Student")">Register Student</a>
            <a href="@Url.Action("EnrollStudentInCourse", "Student")">Enroll Student In a Course</a>

        </div>
    </li>
    <li class="dropdowns">
        <a href="javascript:void(0)" class="dropbtn">Room</a>
        <div class="dropdowns-content">
            <a href="@Url.Action("AllocateClassrooms", "Room")">Allocate Classrooms</a>
            <a href="@Url.Action("ViewClassSchedule", "Room")">View Class Schedule and Room Allocation Information</a>
        </div>
    </li>
    <li class="dropdowns">
        <a href="javascript:void(0)" class="dropbtn">Result</a>
        <div class="dropdowns-content">
            <a href="@Url.Action("SaveStudentResult", "Student")">Save Result</a>
            <a href="@Url.Action("ViewResult", "Result")">View Result</a>
        </div>
    </li>
</ul>
<div>
    <fieldset style="width: 800px">
        <legend>
            <h2>View All Departments</h2>
        </legend>
        <table class="table table-responsive table-hover table-bordered" style="width: 450px">
            <thead>
            <tr>
                <td><b>Code</b></td>
                <td><b>Name</b></td>
            </tr>
            </thead>
            @*<tr>
                    <th>Code</th>
                    <th>Name</th>
                </tr>*@
            <tbody>
            @foreach (Department aDepartment in departments)
            {
                <tr>
                    <td>@aDepartment.Code</td>
                    <td>@aDepartment.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </fieldset>
</div>
</body>
</html>
